html {
  font-size: 10px;
}

body {
  background-color: #ff4d5d;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  line-height: 1;
}

ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
  font-size: 1.2rem;
}

li {
  margin-bottom: 0.5rem;
}

h1, h2 {
  font-size: 1.2rem;
}

h1 {
  text-transform: uppercase;
}

.about {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.container {
  max-width: 480px;
  margin: 4rem;
}

.canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}


@media only screen and (max-width: 460px) {
  html {
    font-size: 6px;
  }

  .container {
    margin: 3rem;
  }

  .canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}