html {
  font-size: 10px;
}

body {
  background-color: #ff4d5d;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  line-height: 1.3;
}

ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
  font-size: 1.2rem;
}

h1, h2 {
  font-size: 1.2rem;
}

h1 {
  text-transform: uppercase;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.about {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.container {
  max-width: 64rem;
  margin: 4rem;
}

.canvas {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  line-height: 0;
}

.horizontal-list li {
  display: inline;
  padding-right: 8px;
}

.gif {
  opacity: 0.7;
}


@media only screen and (max-width: 460px) {
  body {
    margin: 0;
  }

  h2 {
    margin: 4rem 0 2rem 0;
  }

  .employer-link {
    display: inline-block;
  }

  .container {
    margin: 3rem 1.2rem;
  }

  .horizontal-list {
    margin-top: 4rem;
  }

  li {
    margin-bottom: 1rem;
  }
}